.RegisterContainer {
  width: 40%;
  padding: 20px;
  background-color: #eff3f7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.RegisterContainer h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 15px;
}

.RegisterContainer form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.RegisterContainer form input {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  outline-color: #abd9e9;
  padding: 5px;
}

.RegisterContainer form .errors {
  font-size: 12px;
  color: #d8000c;
  margin-bottom: 1px;
}

.RegisterContainer button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #6fbced;
  cursor: pointer;
  align-self: flex-end;
}

.RegisterContainer button:hover {
  transform: scale(1.2);
  color: #ddd;
}

/* .RegisterContainer #footer {
  display: flex;
  gap: 5px;
} */

.RegisterContainer #agreement {
  font-size: 12px;
  margin: 20px 0px;
}

.RegisterContainer b {
  cursor: pointer;
  font-weight: 600;
  align-self: center;
}

.RegisterContainer b:hover {
  transform: scale(1.1);
}

.RegisterContainer a {
  color: #000;
  margin: 10px 0px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-start;
}

.RegisterContainer a:hover {
  font-weight: 800;
  color: red;
}
